:root {
  --font-size: 18px;
  --color: #ffffffde;
  --primary: #242424;
  --secondary: rgb(6 154 216);
  --success: #14ab14;
  --error: #eb2e2e;
  --bg-app: #121212;
  --bg-alternatives: #2f0563;
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  color: var(--color);
  justify-content: center;
  background-color: var(--primary);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.app {
  width: 80vw;
  max-width: 600px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  text-align: center;
  border-radius: 15px;
  border: 1px solid rgb(74, 74, 74);
  background-color: var(--bg-app);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

h1 {
  margin-bottom: 2rem;
}

.hidden {
  visibility: hidden;
}

.text-info {
  font-size: var(--font-size);
  color: var(--secondary);
}

.box-categories {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

button {
  width: 75%;
  border: none;
  margin: 10px;
  cursor: pointer;
  color: var(--color);
  padding: 0.75rem 1.5rem;
  border-radius: 50px;
  font-size: var(--font-size);
  background-color: var(--secondary);
}

button:hover {
  opacity: 0.8;
}

.box-questions {
  width: 80vw;
  max-width: 600px;
  padding: 2rem;
  text-align: center;
  border-radius: 15px;
  /* background-color: var(--secondary); */
}

.box-questions > .list > .alternative {
  padding: 1rem;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: var(--secondary);
  transition: all 0.25s;
}

.box-questions > .list > .alternative.success {
  background-color: var(--success);
}

.box-questions > .list > .alternative.error {
  background-color: var(--error);
}

.box-questions > .list > .alternative:hover {
  opacity: 0.7;
}

.box-questions > .list > .alternative.error:hover,
.box-questions > .list > .alternative.success:hover {
  opacity: 1;
}

.box-questions button {
  width: auto;
  border: 2px solid var(--color);
  background-color: transparent;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.box-score {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
